
body {
    display: flex;
    justify-content: center;    
}

div {
    min-width: 20vw;
    min-height: 20vh;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.box-yellow {
    background-color: yellow;
}

.box-red {
    background-color: red;
}

.box-green {
    background-color: green;
}

.box-blue {
    background-color: blue;
}



@media (width: 768px) {
    div {
        width: 100%;
    }
}

div:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.514);
    border-radius: 20%;
}
    
